{% extends "layout.html" %}

{% block body %}
<div class="jumbotron text-center">
    <h3>Üzeyir Peygamber Yardımlaşma ve Dayanışma Derneğine Hoşgeldiniz</h3>
    <p>Bu blogta geliştiriciler olarak blog yazılarınızı paylaşabilirsiniz ve insanlara yardımcı olabilirsiniz.</p>
</div>
<br> <br>
<div class="row">
<div class="card col-sm-4">
    <img src="https://i.hizliresim.com/7573GU.jpg"  style="height: 15em;" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Üzeyir Peygamber Kimdir ?</h5>
      <p class="card-text">Hz. Üzeyir, öldükten sonra tekrar diriltildiği için kıyamet sonrası yaşanacak yeniden yaradılışın bir örneği olarak görülmektedir. 100 sene ölü kaldığı rivayet edilen Hz. Üzeyir hakkında; HZ. Üzeyir kimdir, Hz. Üzeyir’in hayatı nasıldı ve mesleği neydi gibi sorular ortaya atılmaktadır. Sizler için Üzeyir peygamberin hayatını, mucizelerini ve diğer tüm detayları hazırladık.
        Kur’an-ı Kerim’</p>
      <a href="#" class="btn btn-primary">Okumak için Tıkla</a>
    </div>
  </div>

  <div class="card col-sm-4" style="width: 18rem;">
    <img src="https://i.hizliresim.com/7573GU.jpg" style="height: 15em;" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">başlık</h5>
      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi unde provident qui est voluptatibus molestias cum exercitationem expedita, atque asperiores necessitatibus placeat quis recusandae non ex vitae esse quod nobis?</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>


  <div class="card col-sm-4" style="width: 18rem;">
    <img src="https://i.hizliresim.com/7573GU.jpg" style="height: 15em;" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum repudiandae eaque debitis iusto ad facilis neque repellat aspernatur, expedita nostrum tempore ea commodi architecto. Quaerat, expedita. Iste distinctio eveniet quos?</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>
{% endblock  %}